form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
form p {
    margin: 0;
}

label {
    font-weight: bold;
    color: var(--tertiary-color);
}
input {
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    font-size: 16px;
}
input:focus {
    outline: none;
    border-color: var(--secondary-color);
    box-shadow: 0 0 5px var(--secondary-color);
}

.error-message {
    color: red;
}
.success-message {
    color: green;
}