.lista-personas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}
.lista-personas a {
    width: 32.33%;
    box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
    .lista-personas a {
        width: 49%;
    }
}
@media only screen and (max-width: 600px) {
    .lista-personas a {
        width: 100%;
    }
}