nav {
    display: flex;
    gap: 8px;
    align-items: center;
    width: fit-content;
    height: 100%;
    margin: 3px auto;
    padding: 8px 10px;
    border: solid 1px #E1B38E;
    border-radius: 12px;
    box-shadow: 0 7px 8px #E1B38E;
}