nav {
    display: flex;
    align-items: center;
    text-align: center;
    position: sticky;
    top: 3px;
    background: #FFF;
    margin: 3px auto;
    padding: 8px 10px;
    border: solid 1px #E1B38E;
    border-radius: 12px;
    box-shadow: 0 7px 8px #E1B38E;
    width: fit-content;
}
nav a {
    color: var(--text-color);
    font-size: 20px;
    padding: 8px 10px;
    border-radius: 12px;
}

@media only screen and (max-width: 600px) {
    nav {
        top: 0;
        gap: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        border: 0;
        border-radius: 0;
    }
    nav a {
        width: 100%;
        border-radius: 0;
    }
    nav span {
        display: none;
    }
}