nav {
    display: flex;
    gap: 8px;
    align-items: center;
    width: fit-content;
    height: 100%;
    margin: 3px auto;
    padding: 8px 10px;
    border: solid 1px #E1B38E;
    border-radius: 12px;
    box-shadow: 0 7px 8px #E1B38E;
}
nav a {
    color: #220C10;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 10px;
    text-decoration: none;
    border-radius: 12px;
}
nav a:hover {
    box-shadow: 0 5px 5px #E1B38E;
}
nav .active {
    color: #ffffff;
    background: #E1B38E;
}