body {
    --primary-color: #E1B38E;
    --secondary-color: #8AA89F;
    --text-color: #220C10;
    font-family: Helvetica, sans-serif;
    color: var(--text-color);
    margin: 0;
}

a {
    color: var(--text-color);
    text-decoration: none;
}
button, nav a, .card {
    padding: 8px 10px;
    border-radius: 12px;
}
button, nav a {
    color: var(--text-color);
    font-size: 20px;
}
button {
    width: 100%;
    border: solid 1px var(--primary-color);
    cursor: pointer;
}

button:hover, nav a:hover {
    box-shadow: 0 5px 5px var(--primary-color);
}
button:hover, nav .active {
    color: #FFF;
    background: var(--primary-color);
}

.primary,
button.primary-outline:hover,
a.card.primary-outline:hover {
    color: #FFF;
    background: var(--primary-color);
    border: solid 1px var(--primary-color);
}
.primary-outline,
button.primary:hover,
a.card.primary:hover {
    color: var(--primary-color);
    background: #FFF;
    border: solid 1px var(--primary-color);
}
.secondary,
button.secondary-outline:hover,
a.card.secondary-outline:hover {
    color: #FFF;
    background: var(--secondary-color);
    border: solid 1px var(--secondary-color);
}
.secondary-outline,
button.secondary:hover,
a.card.secondary:hover {
    color: var(--secondary-color);
    background: #FFF;
    border: solid 1px var(--secondary-color);
}